<div class="new">
  <md-input-container class="w-25">
    <input mdInput [(ngModel)]="newHeadquarter.name" type="text" placeholder="Nueva Sede">
  </md-input-container>
  <button md-button md-raised-button color="success" (click)="save()" [disabled]="newHeadquarter.name===''">
    Crear
    <md-icon>add_circle_outline</md-icon>
  </button>
</div>

<div class="section-filters">
  <form #filterForm="ngForm" class="row align-items-end">
    <div class="col-sm-6">
      <md-input-container>
        <input mdInput [(ngModel)]="filter.search" name="search" type="text" autocomplete="off" placeholder="Buscar">
      </md-input-container>

      <md-select placeholder="Estado" class="text-left" [(ngModel)]="filter.state" [ngModelOptions]="{standalone: true}">
        <md-option>Estado</md-option>
        <md-option *ngFor="let state of getStates()" [value]="state.value">{{state.name}}</md-option>
      </md-select>

      <button md-button md-raised-button color="primary" (click)="search()">
        Buscar
        <md-icon class="md-18">search</md-icon>
      </button>
    </div>

    <div class="col-sm-6">
      <md-paginator *ngIf="filter.pagination" [length]="filter.pagination.total" [pageSize]="filter.pagination.limit" [pageSizeOptions]="pageSizeOptions" (page)="pageChange($event)" [pageIndex]="filter.pagination.pagesCurrent || 0">
      </md-paginator>
    </div>
  </form>
  <md-progress-bar mode="indeterminate" *ngIf="loadingData" color="primary"></md-progress-bar>
</div>

<div class="headquarters row no-margin">
  <cios-headquarter-item *ngFor="let item of getItems()" class="hq col-sm-4" [item]="item" [loggedUser]="loggedUser" (itemRemoved)="onItemRemoved($event)"></cios-headquarter-item>
</div>
