@import '../../scss/partials/_common.scss';

#menu {
  height: 100%;
  margin: 0;
}

$primary-color: $color-4;
$darken: darken($color-4, 40);

.menu {
  background: rgba($primary-color, 1); // background: rgba($color-2, .1);
  border-right: 1px solid $darken;
  width: 100%;
  margin: 0;
  list-style-type: none;
  padding: to-rem(60px) 0 0;

  li {
    margin-top: -1px;

    &::first-child {
      margin-top: 0;
    }
  }

  a {
    display: block;
    color: $color-1;
    font-size: to-rem(14px);
    text-decoration: none;
    transition: all .3s;
    position: relative;
    padding: to-rem(10px) to-rem(15px); // border-top: 1px solid transparent;
    // border-bottom: 1px solid transparent;
    .mat-icon {
      vertical-align: middle;
      margin-right: to-rem(7px);
    }

    &:before {
      content: '';
      transition: all .4s;
      position: absolute;
      top: 0;
      left: 50%;
      width: 0;
      height: 100%;
      border-top: 1px solid $color-5;
      border-bottom: 1px solid $color-5;
    }

    &:hover,
    &.active {
      text-indent: 3px;
      background-color: lighten($color-5, 30);
      color: darken($color-2, 30); // border-color: lighten($color-5, 1);
      &:before {
        width: 100%;
        left: 0;
      }
    }


    &:hover {
      // border-color: transparent;
    }
  }

  li.fix a {
    color: #F00;
    font-weight: bold;
  }
}
